# NOTE: These requirements are used for developing code on the repo.
# As a standard they include certain formatters and linters.

# external requirements (mostly linters and formatters)
flake8              # flake8 linter
flake8-docstrings   # docstring support for flake8
mypy                # python type checker
black               # automatic formatting provider
isort               # automatic import sorter
python-dotenv       # environment variable manager
pre-commit          # allows to run checks for every git commit
pylint              # linter

# Reinforcement learning libraries
gym                 # OpenAI gym for environment
torch               # Pytorch
ray[rllib]          # RLlib
ray[default]        # Default ray libraries
gputil              # Recommended for ray

# Convex optimisation
cvxpy               # CVXPY

# Interactive computing
jupyterlab          # Jupyter lab
matplotlib          # Standard plotting tools
ipywidgets          # Interactive widgets in jupyter lab